<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Super Shaheen Chemist</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Client/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Client/dist/css/adminlte.css">
    <!-- Bootstrap Min css-->
    <link href="~/Client/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- stellar Nav-->
    <link rel="stylesheet" type="text/css" media="all" href="~/Client/dist/css/stellarnav.css">
    
    @*<script src="~/Client/plugins/jquery/jquery.min.js"></script>*@
    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    <script src="~/Content/Js/Jquery.js"></script>
    <script type="text/javascript" src="~/Client/dist/js/stellarnav.min.js"></script>
    <!-- custom Style Sheet-->
    <link href="~/Client/dist/css/custom.css" rel="stylesheet" />

</head>
<body class="hold-transition skin-yellow sidebar-collapse">
    <!-- Stellar Nav-->
    <div class="stellarnav hidden-print">
        <ul>
            <li>
                <a href="javascript:void(0)">
                    <i class="fas fa-tachometer-alt icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Dashboard
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="/home/index">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Dashboard
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-life-ring icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Products
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="/product/index">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Products List
                        </a>
                    </li>
                    <li>
                        <a href="/product/add_new_product">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Add Products
                        </a>
                    </li>
                    <li>
                        <a href="/product/OutOfStock">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Out of stock
                        </a>
                    </li>
                    @*<li>
                        <a href="https://medix.spantiklab.com/product/recent_list">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Recent Expired
                        </a>
                    </li>*@
                    <li>
                        <a href="/stock/ExpiredStock">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Expired Stock
                        </a>
                    </li>
                    <li>
                        <a href="/product/stock">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Stock
                        </a>
                    </li>
                    @*<li>
                        <a href="https://medix.spantiklab.com/add_stock">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Upload Stock
                        </a>
                    </li>*@
                </ul>
            </li>
            @*<li>
                <a href="javascript:void(0)">
                    <i class="fa fa-balance-scale icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Reports
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Sales Report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/top_customers">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Top Customers
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/top_salesman">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Top Salesman
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/brand_sale">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Brands report
                        </a>
                    </li>
                </ul>
            </li>*@
            @*<li>
                <a href="javascript:void(0)">
                    <i class="fa fa-cubes icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Other Reports
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/brand_section">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Section report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/company_wise">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Company Wise
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/store_wise">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Store wise report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_report/batch_wise">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Batch Wise
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/reports/purchase_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Purchase report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/reports/purchase_return_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Purchase return report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/reports/sales_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Sales report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/reports/sales_return_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Sales return report
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/tax_report">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Tax Report
                        </a>
                    </li>
                </ul>
            </li>*@
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-clipboard icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        POS
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/invoice/manage">
                            <i class="sub-icon-settings far fa-circle"></i>
                            View Invoice
                        </a>
                    </li>
                    <li>
                        <a href="/Invoice/CreateInvoice">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Create invoice
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/return_items/return_list">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Return List
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/stock_transfer">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Stock Transfer IN / OUT
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-briefcase icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Purchase
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="/Purchase/Purchases">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Purchases
                        </a>
                    </li>
                    <li>
                        <a href="/Purchase/ReturnPurchase">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Purchase return
                        </a>
                    </li>
                    <li>
                        <a href="/Purchase/PurchaseOrder">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Purchase Order
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-flask icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Supply
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/supply">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Supply List
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/supply/drivers">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Drivers
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/supply/vehicle">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Vehicles
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/supply/sales_man">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Salesman
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/order_list">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Order List
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-anchor icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Initialization
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Brands
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/brand_sector">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Brand Sector
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/region">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Region
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/town">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Towns
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/units">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Units
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/stores">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Stores
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/product_type">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Product Type
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/initilization/taxes">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Taxes
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-bag icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Options
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/profile">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Personal Profile
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/users">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Users
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/todolist">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Requested items
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/expense">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Expense
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/backup/upload_restore">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Restore Backup
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/Printer_settings">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Printer Settings
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/expense/bank_expense">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Bank Expense
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/service">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Services
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-plus-circle icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Extra
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/backup">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Take Backup
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/company">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Company
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/estimate">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Estimate
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/sales_receipt">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Sales receipt
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/testamonial">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Testimonials
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/somewords">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Some Words
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/pharmacist">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Pharmacists
                        </a>
                    </li>
                    <li>
                        <a href="https://medix.spantiklab.com/orders">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Prescriptions Requested
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-cog icon-settings" aria-hidden="true">
                    </i>
                    <span class="text-center link-settting">
                        Settings
                    </span>
                </a>
                <ul>
                    <li>
                        <a href="https://medix.spantiklab.com/layout">
                            <i class="sub-icon-settings far fa-circle"></i>
                            Layout & System
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--Stellar Nav-->
    
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="container-fluid">

            <div class="content">
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer hidden-print">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 <a href="https://adminlte.io">Waleed Saddique</a>.</strong> All rights reserved.
        </footer>
    
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
    <script src="~/Client/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Client/dist/js/adminlte.min.js"></script>

</body>
</html>

<!-- For All Plug-in Activation & Others -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        jQuery('.stellarnav').stellarNav({
            theme: 'light',
            breakpoint: 960,
            position: 'top'
        });
    });
</script>

<!-- Page Script -->
@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">+/
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
